.choresText {
   color: gold;
   font-family: "Times New Roman", Times, serif;
   font-size: 40px;
   font-style: italic;
}

.choresHeading {
   color: darkviolet;
   font-family: "Times New Roman", Times, serif;
   font-size: 40px;
   text-decoration: underline;
}